#resw{background-color: #F3F3F3;border:1px solid #333}
#connection{color:#333}
#ipires{color:#000000}
#status{color:#333;border-color:#003ABA}
#dwtitle{color:#000000}
#dwbar{background-color:#26CF4D}
#dwtext{color:#26CF4D}
#uptitle{color:#000000}
#upbar{background-color:#EF1D39}
#uptext{color:#EF1D39}
#scale{color:#333;background-color:#CCC;border-color:#333}
#console{color:#000000;background-color:#EEEEEE;border-color:#333333}
#results{color:#000000}
#stb{color:#333;cursor:pointer;}
#imgcopy{}