/*
Font size
html 100% et 150%
body .8em car les options / defaut des navigateurs sont souvent de 16px

Tableau de correspondance pour balises
16px > 1.32em
15px > 1.24em
14px > 1.16em
13px > 1.08em
12px > 1em
11px > .92em
10px > .84em
*/

html{
	font-family: Arial, verdana, sans-serif;
	/*font-size: 12px;*/
	color: #000000;
	margin:0;
	padding:0;
	border:0;
	height: 100%;
	text-align: left; 
	font-size: 100%;    
}
body {
	margin:0;
	padding:0;
	background-color: #FFFFFF;
	overflow: hidden;
	font-size: .8em;    
}
table {
	font-size: .92em;
}
tr {
	padding:0;
	margin:0;
}
td {
	font-weight : normal;
	/*font-size : 11px;*/
	padding:0;
}
td.top {
	vertical-align:top;
}
a.image{
	border-bottom:0px;
}

a:link, a:visited {
	text-decoration: none;
	color: #900;
}
a:hover, a:active {
	color: #900;
}
form {
	margin:0;
}
input, select, textarea, button {
    /*
    border: 1px #bfb6bf solid;
    font-size: 12px;
    color: #666666;
    */
}
input { 
    border: 1px #bfb6bf solid;
    font-size: 1em;
    color: #666666;
}
select, textarea{
    border:1px solid #E5E5E5;
    /*border-right:1px solid #E6E0D7;
    border-bottom:1px solid #E6E0D7;*/
    padding: 1px;
}
textarea {
    padding: 2px;
}
button {
	/*
    padding-top:2px;
    padding-bottom:2px;
    */
}
/*
input {
	border-right: expression((this.type=="button" || this.type=="submit" || this.type=="reset")?'1px solid #B3AA9A':'1px solid #E6E0D7');
	border-bottom: expression((this.type=="button" || this.type=="submit" || this.type=="reset")?'1px solid #B3AA9A':'1px solid #E6E0D7');
	border-top: expression((this.type=="button" || this.type=="submit" || this.type=="reset")?'1px solid #E6E0D7':'1px solid #B3AA9A');
	border-left: expression((this.type=="button" || this.type=="submit" || this.type=="reset")?'1px solid #E6E0D7':'1px solid #B3AA9A');
	cursor: expression((this.type=="button" || this.type=="submit" || this.type=="reset")?'pointer':'');
}
*/
.center {
	text-align:center;
}
.right {
	text-align:right;
}
.pointer{
	cursor:pointer;
}
.searchInput {
	background: #FFF url(../../images/search.png) no-repeat 3px 3px;
	padding:1px 0 1px 18px;
}

#header{
	background: #124B82 url(../../images/deskTopBanner.gif) no-repeat;
	height:52px;
}
#header table{
	width:100%;
}
#header .icon{
	width:53px;
}
#header .title{
	padding-left:15px;
	font-size:22px;
	font-family:Arial, Trebuchet MS;
	font-weight:bold;
	color:#555;
	line-height:1em;
}
#header .quit{
	padding:4px 15px;
	vertical-align:top;
}


.fullWidth {
	width:100%;
}


.ficheTablePadding {
	padding:12px 0 12px 12px;
}

.footer{
	text-align:center;
	padding:10px;
}

.treeview {
	overflow:auto;
	background-color: #EFECFF;
	background-image: url(../../include/freddy/images/bg_nav_gauche_1px.jpg);
    background-repeat: repeat-x;
}
.treeview .menuItem {
	padding:2px 2px 6px 22px;
	background-repeat: no-repeat;
	cursor:pointer;
}

.treeviewClose{
    background-image : url('../../images/treeview/icons/closeTreeItem_555.gif');	
}
.treeviewOpen{
    background-image : url('../../images/treeview/icons/openTreeItem_555.gif');    
}
.treeview .parentItem {
    color:#555;
    border-bottom:one;
}

.treeview .childItem {
    color:#555;
    border-bottom:none;
}
.treeview .hoverItem {
    color:#ed1c24;
    border-bottom: 1px solid #ed1c24;
}


.pageTitleHeader{
	border:1px solid #F60;
}
.pageTitleHeader div{
	font-size:1em;
	font-weight:bold;
	padding:3px 4px 3px 25px;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	border-right:1px solid #E0D597;
	border-bottom:1px solid #E0D597;
	color:#4E450F;
	background:#F2E9B4 url('../../images/default.gif') 4px 2px no-repeat;
}

.sectionFrame{
	padding:9px 8px 8px 9px;
	background-color:#EFEDE1;
	border-left:1px solid #FFF;
	border-top:1px solid #FFF;
	border-right:1px solid #E3DFCB;
	border-bottom:1px solid #E3DFCB;
}
.sectionTitle{
	margin-top:20px;
}
.sectionTitle div{
	font-family:Verdana;
	font-size:1.16em;
	font-weight:bold;
	color:#7C633B;
	background-color:#F1E3CE;
	padding: 2px 6px 3px 6px;
	display:inline;
	border-left:1px solid #FFF;
	border-top:1px solid #FFF;
	border-right:1px solid #E3DFCB;
	font-variant: small-caps;
}

#ficheTable{}

#ficheTable .imgTop {
	height:4px;
	background:url(../../images/fiche_top.png) repeat-x;
}
#ficheTable .imgCenterLeft {
	width:4px;
	background:url(../../images/fiche_centerleft.png) repeat-y;
}
#ficheTable .ficheFrame {
	background:#FFF;
	border:1px solid #E5E5E5;
}
#ficheTable .imgCenterRight {
	width:4px;
	background:url(../../images/fiche_centerright.png) repeat-y;
}
#ficheTable .imgBottom {
	height:4px;
	background:url(../../images/fiche_bottom.png) repeat-x;
}
#nav {
    width:220px;	
}
#nav .ficheFrame {
	background-color:/*#EAEDF3*/#FFF;
}
#nav #pageTitleWrapper {
	display:none;
}
#navToggle {
    width:10px;
    background:url(../../images/icons/toggle_gray.gif) repeat-y;
    background-position: right;
    cursor:pointer;
}
#navToggleHidden {
    width:10px;
    background:url(../../images/icons/toggle_gray.gif) repeat-y;
    background-position: right;
    cursor:pointer;
}


.tabFrame {
    padding:7px 25px 15px 25px;
}
.tabs {
    font-weight: bold;
    padding-bottom: 24px;
    border-bottom: 1px solid #E5E5E5;
}
.tabs div{
    float: left;
    height: 23px;
    background-color: #C5BDC9;
    border-left:1px solid #E5E5E5;
    border-top:1px solid #E5E5E5;
    border-right:1px solid #E5E5E5;
    border-bottom:1px solid #E5E5E5;
    cursor:pointer;
    padding: 0 8px 0 8px;
    margin-right: 2px;
    color: #555;
    line-height:24px;
    font-variant: small-caps;
    font-size:1.12em;
}

.tabs div.active {
    border-left:1px solid #E5E5E5;
    border-top:1px solid #E5E5E5;
    border-right:1px solid #E5E5E5;
    border-bottom: 1px solid #FFF;
    background-color: /*#E8EEF6*/#FFF;
    color: #734D60;
}


.tabContent {
	margin : 0px -4px 0px -4px;
	/*
    border:1px solid #7397B9;
    border-top:none;
    padding:9px 8px 8px 9px;
    background-color:#EAEDF3;
    border-left:1px solid #A4BCD2;*/
    clear:both;
}
.tabFooter{
    margin-top:10px;
    text-align:center;
    padding:7px 0 7px 0;
    background:url(../../images/tab_bottomframe.png) repeat-x;
}

.closeTab {
  margin-left : 10px;
  padding-bottom: .1em;
  padding-left:.85em;
  background-image:url(../../images/closeAll.png);
}

.hide {
	display:none;
}

#modal {
	position:absolute;
	top:150px;
	left:250px;
	background-color:#F8FBFF;
	border:1px solid #DDD;
}
#modal .modalFrame {
	border:1px solid #7A9ADB;
}
#modal .modalFrame2 {
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
}
#modal .header{
	padding:4px;
	background-color:#E1ECFF;
	font-weight:bold;
	text-transform:uppercase;
}
#modal .content{
	padding:10px;
}
#modal .buttons{
	padding:4px;
	text-align:center;
}
.barbutton_tooltip, #modal_container.barbutton_tooltip {  
padding:3px;  
background-color:lightyellow;  
font-weight:bold;
border:1px solid #666;  
font-size:1em;  
color:#333;  
}
#modal_container {
	background-color:#fff;
	border:2px solid #666;
}
#modal_overlay,#control_overlay {
	background-color:#000;
}
.modal_principal {
	background-color : #F3F3F3;
	border-bottom : 1px solid #BBB;
	border-right : 1px solid #BBB;
	border-top : 1px solid #FFF;
	borderLeft : 1px solid #FFF;
}
.modal_controls {
	position : relative;
	height : 27px;
}
.modal_title {
	padding-top : 7px;
	text-align:center;
	font-size:1.08em;
	font-weight:bold;
	font-family:Arial, Tahoma;
	color:#124D85;
	text-transform:uppercase;
}
.modal_frame_principal {
	border-bottom : 1px solid #FFF;
	border-right : 1px solid #FFF;
	border-top : 1px solid #CCC;
	border-left : 1px solid #CCC;
	margin : 5px 8px 0 8px;
}
.modal_frame_content {
	border  : 1px solid #AAA;
	background-color :#FFF;
}
.modal_options {
	padding-top = 6px;
	height : 32px;
	text-align:center;
}
.formLayout{	
	border-collapse:separate;
/*	border:1px solid #EEE;*/
}
.formLayout .label {
	text-align:right;
	vertical-align:top;
	padding:3px 5px 3px 8px;
	color:#555;
	background-color:#F3F3F3;
	font-weight:bold;
}
table.formLayout td.value {
	vertical-align:top;
	padding-left:3px;
}
.formLayout .frame {
	padding: 3px;
}
            
.vertical_accordion_toggle {
    display: block;
    height: 30px;
    width: 600px;
    background: url(images/accordion_toggle.jpg) no-repeat top right #a9d06a;
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    border-bottom: 1px solid #cde99f;
    cursor: pointer;
    margin: 0 0 0 0;
}

.vertical_accordion_toggle_active {
    background: url(images/accordion_toggle_active.jpg) no-repeat top right #e0542f;
    color: #ffffff;
    border-bottom: 1px solid #f68263;
}

.vertical_accordion_content {
    background-color: #ffffff;
    color: #444444;
    overflow: hidden;
}

.vertical_accordion_content h2 {
    margin: 15px 0 5px 10px;
    color: #0099FF;
}

.vertical_accordion_content p {
    line-height: 150%;
    padding: 5px 10px 15px 10px;
}
        
.horizontal_accordion_toggle {
    /* REQUIRED */
    float: left;    /* This make sure it stays horizontal */
    /* REQUIRED */

    display: block;
    height: 100px;
    width: 30px;
    background: url(images/h_accordion_toggle.jpg) no-repeat top left #a9d06a;
    color: #ffffff;
    text-decoration: none;
    outline: none;
    border-right: 1px solid #cde99f;
    cursor: pointer;
    margin: 0 0 0 0;
}
        
.horizontal_accordion_toggle_active {
    background: url(images/h_accordion_toggle_active.jpg) no-repeat top left #e0542f;
    border-right: 1px solid #f68263;
}

.horizontal_accordion_content {
    /* REQUIRED */
    height: 100px;  /* We need to define a height for the accordion as it stretches the width */
    float: left;    /* This make sure it stays horizontal */
    /* REQUIRED */
    
    overflow: hidden;
    background-color: #ffffff;
    color: #444444;
}
            
.horizontal_accordion_content p {
    width: 450px;
    line-height: 150%;
    padding: 5px 10px 15px 10px;
}
                                
#horizontal_container {
  margin: 20px auto 20px auto;
  width: 680px;   
  height: 100px;    
}

#tvAccordion {
  /*margin: 20px auto 20px auto;*/
  /*width: 620px;*/
}

.tv_accordion_toggle {
    display: block;
    /*height: 30px;*/
    /*width: 100px;*/
    background-color: #8A6D7C;
    padding: 0 10px 0 10px;
    line-height: 30px;
    outline: none;
    border-bottom: 1px dotted #FFF;
    cursor: pointer;
    margin: 0 0 0 0;
    
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    font-family:Arial, Tahoma;
    color:#FFF;
    text-transform:uppercase;
}

.tv_accordion_toggle_active {
    /*background: url(images/accordion_toggle_active.jpg) no-repeat top right #e0542f;
    color: #900;
    border-bottom: 1px solid #900;*/
}

.tv_accordion_content {
	font-size: 1.1em;
    background-color: #C5BDC9;
    /*color: #444444;*/
    overflow: hidden;
}

#headerMenu{
    padding:10px 20px 8px 20px;
}
#headerMenu a{
    color:#333;
    font-weight:bold;
    border-bottom:none;
}

#headerMenu .home{
    background: url(../../images/icons/house.gif) no-repeat 0 0;
    padding:1px 0 1px 20px;
}
#headerMenu .profil{
    background: url(../../images/icons/user.gif) no-repeat 0 0;
    padding:1px 0 1px 20px;
    margin-right:10px;
}
#headerMenu .logout{
    background: url(../../images/icons/door_in.gif) no-repeat 0 0;
    padding:1px 0 1px 20px;
    margin-right:10px;
}
#headerMenu .hotline{
    background: url(../../images/icons/phone.gif) no-repeat 0 0;
    padding:1px 0 1px 20px;
    color:#333;
    font-weight:bold;
    border-bottom:none;
}
#headerMenu .hour{
    background: url(../../images/icons/clock.gif) no-repeat 0 0;
    padding:1px 0 1px 20px;
    color:#333;
    font-weight:bold;
    border-bottom:none;
}
#headerMenu .version{
    margin-left:7px;
    background: url(../../images/icons/tag_blue.gif) no-repeat;
    padding:1px 0 1px 23px;
    color:#333;
    font-weight:bold;
    border-bottom:none;
}
#headerMenu .login{
    padding-top:3px;
    color:#990000;
    /*font-style:italic;*/
    font-size:.84em;
}
#headerMenu .helpsite{
	margin-left:3px;
    background: url(../../images/icons/help.gif) no-repeat;
    padding:1px 3px 1px 20px;
    color:#333;
    font-weight:bold;
    border-bottom:none;
}

.headerBar .sb-inner {background-color:#C5BDC9}
.headerBar .sb-border {background-color:#8A6D7C}

.altColor {
    color:#333;
}
.loader{
    background-image : url('../../images/loader_paraph.gif');   
    width:16px;
    height:16px;
}
.box {
    border:1px solid #E5E5E5;
}
.boxTitle {
    font-weight:bold;
    text-align:center;
    padding:4px 5px 4px 7px;
    border-top:1px solid #FFF;
    border-left:1px solid #FFF;
    border-right:1px solid #E0D597;
    border-bottom:1px dotted #ed1c24;
    color:#ed1c24;
    background-color:#F3F3F3;
}
.boxContent {
    padding:9px 8px 8px 9px;
    background-color:/*#EAEDF3*/#f9f9f9;
    border-left:1px solid #FFF;
    border-right:1px solid #D5D0B8;
    border-bottom:1px solid #D5D0B8;
}
.dataType-date {
    background-image: url(../../images/icons/calendar_view_month.gif);
    background-repeat: no-repeat;
    background-position: right 0;
    padding-right:18px;
    width:13ex;
}

label.dataType-date {
    background-image: url(../../images/icons/calendar_view_month.gif);
    background-repeat: no-repeat;
    background-position: right 0;
    padding-top:1px;
    padding-bottom:1px;
    width:13ex;
}
.menu.firefox {
    width: 12em;
    height: 2.5em;
}
.menu.firefox a:hover {
    background: #8A6D7C;
}

/* ROUNDED CORNERS GENERICS */
table.rc {border-collapse:collapse;}
table.rc td.lh0 {line-height:0;}
table.rc td img {padding:0;margin:0}